/* styles.css */

body {
  background-color: lightblue;
  font-family: sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.container2 {
  padding-top: 50px;
}
.picture-heading {
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 15em;
}

.page-heading {
  color: darkblue;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.button {
  background-color: green;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.4);
}

.button:active {
  transform: translateY(0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1 {
  padding: 5%;
}

.navbar {
  font-size: 18px;
  background: linear-gradient(90deg, #c02c2c, rgb(25, 0, 255));
  border-bottom: #615858 4px solid;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo,
.material-icons {
  text-decoration: none;
  color: white;
  opacity: 0.9;
}

.main-nav li {
  text-align: center;
  margin: 10px auto;
}

.logo {
  display: flex;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 30px;
}

.logo img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.logo p {
  margin-top: 12px;
  padding-left: 5px;
}

.toggle-nav {
  position: absolute;
  top: 20px;
  right: 20px;
}

.material-icons {
  font-size: 24px;
}

.active {
  display: block;
}
tfoot {
  overflow: auto;
}
input {
  width: inherit;
}

/* For large screen more than 600 */

@media screen and (min-width: 600px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  .toggle-nav {
    display: none;
  }
  .main-nav {
    display: flex;
    justify-content: end;
    margin-right: 30px;
  }
  .main-nav > li {
    margin: 0;
  }
  .nav-links {
    margin-left: 20px;
  }
  .logo {
    margin-top: 0;
  }
}
